<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>책 상세페이지</title>
</head>
<body>
    <h1 th:text="${book.title}">책 제목</h1>
    <div>저자 : <span th:text="${book.author}"></span></div>
    <div>가격 : <span th:text="${book.price}"></span></div>
    <div>재고 : <span th:text="${book.stockQuantity}"></span></div>
    <div>ISBN : <span th:text="${book.isbn}"></span></div>
    <div>책 설명 : <span th:text="${book.description}"></span></div>

    <!--주문하기버튼-->
    <form th:action="@{/cart/add}" method="post">
        <input type="hidden" name="bookId" th:value="${book.id}"/>
        <button type="submit" th:disabled="${book.stockQuantity == 0}">장바구니에 담기</button>
    </form>
    <div th:if="${book.stockQuantity == 0}" style="color: red">품절되었습니다.</div>

    <div>
        <a th:href="@{/books}">책 목록으로 돌아가기</a>
    </div>
</body>
</html>