<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <!--Spring Security 권한 체크-->
<head>
    <meta charset="UTF-8">
    <title>책 목록</title>
</head>
<body>
    <h1>책 목록</h1>

    <!--검색 폼-->
    <form th:action="@{/books}" method="get">
        <label>책 제목: <input type="text" name="keyword" placeholder="제목검색" th:value="${condition.keyword}"></label>
        <label>
            <input type="checkbox" name="isUsed" value="true" th:checked="${condition.isUsed} == true">
            중고만 보기
        </label>
        <button type="submit"> 검색</button>
        <a th:href="@{/books}">초기화</a>
    </form>

    <!--새 책 등록은 관리자만 가능-->
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/books/new}">+ 새 책 등록하기</a>
    </div>

    <table border ="1">
        <thead>
            <tr>
                <th>제목</th>
                <th>저자</th>
                <th>가격</th>
                <th>중고 여부</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td>
                    <a th:href="@{/books/{id}(id=${book.id})}" th:text="${book.title}">제목</a>
                </td>
                <td th:text="${book.author}">저자</td>
                <td th:text="${book.price}">가격</td>
                <td th:text="${book.isUsed} ? '중고': '신품'">상태</td>

<!--                &lt;!&ndash;수정/삭제는 관리자만 가능&ndash;&gt;-->
<!--                <td sec:authorize="hasRole('ADMIN')">-->
<!--                    <a th:href="@{'/books/edit/' + ${book.id}}">수정</a>-->
<!--                    <form th:action="@{'/books/delete/'+ ${book.id}}" method="post" style="display:inline">-->
<!--                        <button type="submit">삭제</button>-->
<!--                    </form>-->
<!--                </td>-->
            </tr>
        </tbody>
    </table>

    <!--페이징-->
    <div>
        <!-- 이전 -->
        <span th:if="${page.hasPrevious()}">
        <a th:href="@{/books(page=${page.number-1},keyword=${condition.keyword},isUsed=${condition.isUsed})}">이전</a>
    </span>
        <!-- 번호 -->
        <span th:each="pageNum : ${#numbers.sequence(0, (page.totalPages-1))}" th:classappend="${pageNum==page.number} ? 'active'">
        <a th:href="@{/books(page=${pageNum},keyword=${condition.keyword},isUsed=${condition.isUsed})}" th:text="${pageNum+1}">1</a>
    </span>
        <!-- 다음 -->
        <span th:if="${page.hasNext()}">
        <a th:href="@{/books(page=${page.number+1},keyword=${condition.keyword},isUsed=${condition.isUsed})}">다음</a>
    </span>
    </div>

</body>
</html>