<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>책 수정</title>
</head>
<body>
  <h1>책 수정</h1>

  <form th:action="@{'/books/edit/'+${bookId}}" th:object="${bookForm}" method="post">
      <div>
          <label>제목:</label>
          <input type="text" th:field="*{title}" />
      </div>

      <div>
          <label>저자:</label>
          <input type="text" th:field="*{author}" />
      </div>

      <div>
          <label>가격:</label>
          <input type="number" th:field="*{price}" />
      </div>

      <div>
          <label>재고 수량:</label>
          <input type="number" th:field="*{stockQuantity}" />
      </div>

      <div>
          <label>ISBN:</label>
          <input type="text" th:field="*{isbn}" />
      </div>

      <div>
          <label>책 설명:</label>
          <input type="text" th:field="*{description}" />
      </div>

      <button type="submit">수정하기</button>
  </form>
</body>
</html>