<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <H1>회원가입</H1>

    <form th:action="@{/signup}" th:object="${signupForm}" method="post">
        <div>
            <label>Email : </label>
            <input type="text" th:field="*{email}"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div>
            <label>Password : </label>
            <input type="password" th:field="*{password}"/>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>


        <div>
            <label>Nickname : </label>
            <input type="text" th:field="*{nickname}"/>
            <div th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div>
        </div>

        <div>
            <label>Role : </label>
            <select th:field="*{role}">
                <option value="" selected hidden>선택하세요.</option>
                <option th:value="USER">일반회원</option>
                <option th:value="SELLER">판매자</option>
            </select>
            <div th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
        </div>

        <br>
        <button type="submit">가입하기</button>
    </form>
    <br>
    <span>
    ※회원가입 시 필독사항※<br><br>
        일반회원 : 책 구매 가능<br>
        판매자 : 책 구매 및 중고책 판매 신청 가능
    </span>
</body>
</html>